{% extends 'base.html' %}

{% block content %}
<!-- Conditional script for redirection on login error -->
{% if error_present %}
<script>
    // Show a confirmation dialog
    if (confirm("Login Unsuccessful. Would you like to be redirected to the registration page?")) {
      // Create and style the flash message animation container
      const flashContainer = document.createElement("ul");
      flashContainer.classList.add("flashes", "fanimation"); // Add classes for styling
      flashContainer.innerHTML = `
          <li class="info">Redirecting to registration...</li>
      `; // Example message, adapt as needed
      document.body.appendChild(flashContainer);

      // Wait for 2 seconds, then redirect and remove the flash message
      setTimeout(function() {
          window.location.href = "{{ url_for('auth.register') }}"; // Redirect to registration page
      }, 2000);

      setTimeout(() => {
          document.body.removeChild(flashContainer);
      }, 2000); // Adjust time according to your animation
  }
</script>
{% endif %}

<!-- Login Section -->
<section id="login" class="py-5">
    <div class="container">
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="form-group position-relative">
                {{ form.password.label }}
                {{ form.password(class="form-control", id="password") }}
                <i class="fas fa-eye position-absolute end-0 top-50 translate-middle-y" style="cursor: pointer;" onclick="togglePasswordVisibility()"></i>
            </div>
            <div class="form-group">{{ form.submit(class="btn btn-primary") }}</div>
        </form>
    </div>
</section>

<!-- Language Switch and Registration Prompt -->
<section class="text-center mt-4">
  <div class="container">
    {% if session['lang'] == 'fr' %}
      <p>Pas encore inscrit ?</p>
      <a href="{{ url_for('auth.register') }}" class="btn btn-outline-primary">S'inscrire</a>
      <a href="{{ url_for('auth.set_language', language='eng') }}" class="btn btn-outline-secondary">Switch to English</a>
    {% else %}
      <p>Not registered yet?</p>
      <a href="{{ url_for('auth.register') }}" class="btn btn-outline-primary">Register</a>
      <a href="{{ url_for('auth.set_language', language='fr') }}" class="btn btn-outline-secondary">Passer au français</a>
    {% endif %}
  </div>
</section>

<!-- Password Visibility Toggle Script -->
<script>
    function togglePasswordVisibility() {
        const password = document.getElementById("password");
        password.type = password.type === "password" ? "text" : "password";
    }
</script>
{% endblock %}